TEMP/
*.ppu
*.s
*.o
*~
*.bak
tags
LPT1
crewgen
intro
main
is
test/testdiv0
test/testkey1
test/test_0_c
test/test_0_pas
Data_Generators/makedata/aliemake
Data_Generators/makedata/artimake
Data_Generators/makedata/cargmake
Data_Generators/makedata/creamake
Data_Generators/makedata/crewmake
Data_Generators/makedata/elemmake
Data_Generators/makedata/eventmak
Data_Generators/makedata/itemmake
Data_Generators/makedata/makename
Data_Generators/makedata/scanmake
Data_Generators/makedata/shipmake
Data_Generators/makedata/sysmake
Data_Generators/makedata/weapmake
Data_Generators/makedata/convmake
Data_Generators/makedata/logmake
Data_Generators/makedata/iconmake
Data_Generators/makedata/getfont
Data_Generators/makedata/namemake
