Source: ironseed
Section: games
Priority: optional
Maintainer: Matija Nalis <mnalis-deb@voyager.hr>
Build-Depends: debhelper (>=11~), fpc, libsdl1.2-dev, libsdl-mixer1.2-dev, gdc|ldc, perl, graphicsmagick, imagemagick, libipc-system-simple-perl, exuberant-ctags|universal-ctags
Standards-Version: 4.3.0
Homepage: https://github.com/mnalis/ironseed_fpc
Vcs-Git: https://github.com/mnalis/ironseed_fpc.git
Vcs-Browser: https://github.com/mnalis/ironseed_fpc/tree/master

Package: ironseed
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ironseed-data (= ${source:Version})
Description: science-fiction exploration/strategy adventure game in space
 It was originally both developed and published by Channel 7 for DOS in 1994.
 Gameplay is real-time, featuring trading, diplomacy, and strategy, and
 somewhat resembles Star Control 2 / Ur-Quan masters.
 DOS sources have been changed to make it possible to compile it with the
 freepascal compiler under Linux and SDL, and many bugs were fixed.

Package: ironseed-data
Architecture: all
Recommends: ironseed (>= ${source:Version})
Depends: ${misc:Depends}
Description: science-fiction exploration/strategy adventure game in space - data files
 It was originally both developed and published by Channel 7 for DOS in 1994.
 Gameplay is real-time, featuring trading, diplomacy, and strategy, and
 somewhat resembles Star Control 2 / Ur-Quan masters.
 DOS sources have been changed to make it possible to compile it with the
 freepascal compiler under Linux and SDL, and many bugs were fixed.
 .
 This package provides the data files for the game.
