#!/usr/bin/make -f

# we want debug info for stacktrace bugreports
export DEB_BUILD_MAINT_OPTIONS = hardening=+all nostrip

# fpc(1) does not like to be run in parallel
%:
	dh $@ --no-parallel

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

override_dh_auto_build:
	dh_auto_build -- prefix=/usr

.PHONY: override_dh_auto_install override_dh_auto_build
